@model TicketsViewModel 
@{ ViewData["Title"] = "Tickets"; }

<h1 class="text-danger">Tickets</h1>

<div class="section center-text">
    <table>
        <thead>
            <th>ID</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Ticket Type</th>
            <th>Severity</th>
            <th>Priority</th>
            <th>Status</th>
        </thead>
        <tbody>
            @foreach(var item in Model) {
            <th>item.Ticket_ID</th>
            <th>item.Summary</th>
            <th>item.Description</th>
            <th>item.Ticket_Type</th>
            <th>item.Severity</th>
            <th>item.Priority</th>
            <th>item.Status</th>
            }
        </tbody>
    </table>
</div>

<div class="section">
    
</div>